body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: rgb(247, 244, 244);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
  /* adds space and boarder to easier readability */
  padding: 10px;
  border: 1px solid #c7c7d3;
  margin: 5px;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

.site-footer {
  padding: 2rem 0;
}

/* hides skip link visually but accessible to screen readers */
.skip-link {
  position: absolute;
  left: -9999px;
}

/* shows skip link when focused with keyboard */
.skip-link:focus {
  position: static;
  left: auto;
  background-color: black;
  color: white;
  padding: 1rem;
  z-index: 1000;
}